* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  margin: 50px 0;
  font-size: 1.2rem;
  color: #4e5150;
}

.main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Form */
.checkout-form {
  display: flex;
  flex-direction: column;
  min-width: 285px;
  max-width: 465px;
}

.checkout-form > * {
  display: flex;
  flex-direction: column;
}
.checkout-form h2 {
  font-size: 18px;
  margin: 15px 0;
  color: #333333;
}

.checkout-form .contact-info h2 {
  margin-top: 0;
}

.checkout-form label {
  color: #4f4f4f;
  font-size: 12px;
  margin: 0 0 6px 0;
}

.checkout-form input {
  border: 1px solid #828282;
  margin-bottom: 20px;
  color: #828282;
  height: 56px;
  border-radius: 12px;
  width: 100%;
}

.checkout-form input[value="            Rodney Cotton"] {
  color: #333333;
  font-weight: 500;
}

.checkout-form input[value="save-info"] {
  height: auto;
}

.checkout-form select {
  border: 1px solid #828282;
  margin-bottom: 20px;
  color: #828282;
  height: 56px;
  border-radius: 12px;
  padding-right: 40px;
}

div.icon-wrapper {
  position: relative;
}
.icons {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 2rem;
  color: grey;
}

.country-postal--wrapper {
  display: flex;
}

.country-wrapper {
  margin-right: 30px;
}

label[for="country"],
label[for="postal"] {
  display: block;
  margin: 0 0 6px 0;
}

#postal {
  width: 100%;
}

.checkbox-label input {
  border: 1px solid #828282;
  margin-bottom: 0;
  height: auto;
  border-radius: 12px;
  width: auto;
}

.submit-button {
  width: 40%;
  align-self: flex-end;
  height: 54px;
  border-radius: 12px;
  background: #f2994a;
  border: none;
  color: white;
  font-size: 1rem;
}

/* Shopping Cart */
.checkout-bag {
  background: #f2f2f2;
  height: min-content;
  max-width: 375px;
  min-width: 285px;
  border-radius: 12px;
  color: #333333;
}
.products-and-cost--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.products-wrapper {
  width: 90%;
  margin: 20px 20px 10px 20px;
}

.product {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.product img {
  width: 50%;
  height: auto;
  border-radius: 12px;
}

.product#product2 {
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: 1px solid grey;
}

.name-quantity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.name-price-wrapper h3 {
  font-size: 15px;
  padding-left: 10px;
}

.quantity-wrapper {
  border: 1px solid grey;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  height: 52px;
  align-items: center;
}

.prices {
  margin: 10px;
}

.prices .sale-price {
  color: #f2994a;
}

.prices .old-price {
  text-decoration: line-through;
  font-size: 0.9rem;
}

.number {
  color: #333333;
}

.minus,
.plus {
  background: #e0e0e0;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
}

.shipping-cost {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.total-cost {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

footer {
  margin: 10vh 0 2.5vh 0;
  text-align: center;
  color: #bdbdbd;
  font-size: 0.8rem;
}

@media only screen and (max-width: 475px) {
  header {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .main-wrapper {
    flex-direction: column;
    margin: 10px;
  }
  .country-wrapper {
    margin-right: 20px;
  }
  .name-price-wrapper h3 {
    font-size: 12px;
  }
} ;
